<article id="signup_article" class="col-md-6">
    <form #userForm="ngForm" (ngSubmit)="registerUser(userForm)">
        
        <div class="form-group">
            <label for="image">Upload Profile Picture</label>
            <input ngModel #img="ngModel" requireFile type="file" name="image" id="image" class="form-control">    
            <div *ngIf="img.invalid" class="alert alert-danger">
                <span *ngIf="img.errors?.required" > Profile Picture is required. </span>
            </div>
        </div>
        <div class="form-group">
            <label  for="name">User Name</label>
            <input ngModel #name="ngModel" required minlength="3" maxlength="25" pattern="[a-zA-Z0-9]+" type="text" name="name" id="name" class="form-control">
            <div *ngIf="name.dirty && name.invalid" class="alert alert-danger">
                <span *ngIf="name.errors?.required" > User name is required. </span>
                <span *ngIf="name.errors?.minlength" > Min lenght required is {{ name.errors.minlength.requiredLength}}. </span>
                <span *ngIf="name.errors?.maxlength" > Max lenght of name can be {{ name.errors.maxlength.requiredLength}}. </span>
                <span *ngIf="name.errors?.pattern" > User name can be only alpha-numeric and without spaces. </span>
            </div>              
        </div>
        <div class="form-group">
            <label  for="email">Email</label>
            <input ngModel #email="ngModel" required email="true" type="email" name="email" id="email" class="form-control">
            <div *ngIf="email.dirty && email.invalid" class="alert alert-danger">
                <span *ngIf="email.errors?.required" > Email is required. </span>
                <span *ngIf="email.errors?.email" > Incorrect email format.</span>
            </div>
        </div>

        <div class="form-group">
            <label  for="password" show>Password</label>
            <input ngModel #password="ngModel" required minlength="8" maxlength="25" pattern=".*[0-9].*" type="password" name="password" id="password" class="form-control">
            <div *ngIf="password.dirty && password.invalid" class="alert alert-danger">
                <span *ngIf="password.errors?.required" > Password is required. </span>
                <span *ngIf="password.errors?.minlength" > Min lenght required is {{ password.errors.minlength.requiredLength}}. </span>
                <span *ngIf="password.errors?.maxlength" > Max lenght of password can be {{ password.errors.maxlength.requiredLength}}. </span>
                <span *ngIf="password.errors?.pattern" > Password should contain atleast one Number. </span>
            </div>              
        </div>

        <div class="form-group">
            <label  for="age">Your Age</label>
            <input ngModel #age="ngModel" required min="8" max="150" minRequired="8" type="number" name="age" id="age" class="form-control">
            <div *ngIf="age.dirty && age.invalid" class="alert alert-danger">
                <span *ngIf="age.errors?.required" > Age is required. </span>
                <span *ngIf="age.errors?.min" > Age should be more than {{age.errors?.min.requiredMin -1}}.</span>
            </div>  
        </div>

        <div class="form-group">
            <label  for="dob">Date of Birth</label>
            <input ngModel #dob="ngModel" required type="date" name="dob" id="dob" class="form-control">
            <div *ngIf="dob.dirty && dob.invalid" class="alert alert-danger">
                <span *ngIf="dob.errors?.required" > Date of birth is required. </span>
            </div>
        </div>

        <button [attr.disabled]="disbaleSubmit ? '' : null"  type="submit" name="submit" class="btn btn-primary">Registor</button>
        <div *ngIf="userForm.pristine && userForm.submitted" class="alert alert-danger">
             Please fill the form.
        </div>
        <div class="alert alert-danger" *ngIf="userForm.dirty && userForm.submitted && userForm.invalid" >
             Please fill the form correctly and try again 
        </div>
        
    </form>
</article>