<article id="signup_article" class="col-md-6">
    <form #userForm="ngForm" (ngSubmit)="registerUser(userForm)">
        
        <div class="form-group">
            <label for="image">Upload Profile Picture</label>
            <input ngModel #img="ngModel" required type="file" name="image" id="image" class="form-control">    
        </div>
        <div class="form-group">
            <label  for="name">User Name</label>
            <input ngModel #name="ngModel" required minlength="3" maxlength="25" pattern="[a-zA-Z0-9]+" type="text" name="name" id="name" class="form-control">
            <div *ngIf="name.dirty && name.invalid" class="alert alert-danger">
                <span *ngIf="name.errors?.required" > name is required </span>
                <span *ngIf="name.errors?.minlength" > min lenght required is {{ name.errors.minlength.requiredLength}} </span>
                <span *ngIf="name.errors?.maxlength" > max lenght of name can be {{ name.errors.maxlength.requiredLength}} </span>
                <span *ngIf="name.errors?.pattern" > name can be only alpha-numeric and without spaces </span>
            </div>              
        </div>
        <div class="form-group">
            <label  for="email">Email</label>
            <input ngModel #email="ngModel" required email="true" type="email" name="email" id="email" class="form-control">
            <div *ngIf="email.dirty && email.invalid" class="alert alert-danger">
                <span *ngIf="email.errors?.required" > email is required </span>
                <span *ngIf="email.errors?.email" > incorrect email format</span>
            </div>
        </div>

        <div class="form-group">
            <label  for="password" show>Password</label>
            <input ngModel required minlength="8" maxlength="25" type="password" name="password" id="password" class="form-control">
        </div>

        <div class="form-group">
            <label  for="age">Your Age</label>
            <input ngModel required type="number" name="age" id="age" min="8" max="150" class="form-control">
        </div>

        <div class="form-group">
            <label  for="dob">Date of Birth</label>
            <input ngModel required type="date" name="dob" id="dob" class="form-control">
        </div>

        <button [attr.disabled]="disbaleSubmit ? '' : null"  type="submit" name="submit" class="btn btn-primary">Registor</button>
    </form>
</article>